/*$theme-color: #34A196;*/
$theme-color: #890E4F;
$theme-light-color: #E8FCFA;
$theme-second-gradient-color: #B8CF7F;
$theme-white-color: #FFFFFF;
$theme-secondary-white-color: #F5F5F3;
$theme-primary-white-background: #F3F9F9;
$theme-secondary-white-background: #F8FCFB;

$theme-dark-theme: #050D1F;
$theme-dark-background: #08213A;
$theme-primary-dark-background: #072343;
$theme-secondary-dark-background: #08284A;

$font-primary-color:#343434;
$font-secondary-color:#565656;